<!--
 *  $Id: view.rhtml 351 2008-05-18 13:12:02Z wv753780 $
 * 
 *  $LastChangedDate: 2008-05-18 15:12:02 +0200 (Sun, 18 May 2008) $
 *  $Rev: 351 $
 *  $Author: wv753780 $
 *  $URL: svn+ssh://megaton/disk2/home/es5/wv753780/svn/wimscorner/trunk/SvnUserAdmin/app/views/user/view.rhtml $
 * 
 -->
<h1>User#user_view</h1>
<p>Find me in app/views/user/user_view.rhtml</p>
