<!--
 *  $Id: new.rhtml 351 2008-05-18 13:12:02Z wv753780 $
 * 
 *  $LastChangedDate: 2008-05-18 15:12:02 +0200 (Sun, 18 May 2008) $
 *  $Rev: 351 $
 *  $Author: wv753780 $
 *  $URL: svn+ssh://megaton/disk2/home/es5/wv753780/svn/wimscorner/trunk/SvnUserAdmin/app/views/group/new.rhtml $
 * 
 -->
<h1>New group</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
