<!--
 *  $Id$
 * 
 *  $LastChangedDate$
 *  $Rev$
 *  $Author$
 *  $URL$
 * 
 -->
<%= error_messages_for 'usergroup' %>

<!--[form:usergroup]-->
<p><label for="usergroup_id_user">Id user</label><br/>
<%= text_field 'usergroup', 'id_user'  %></p>

<p><label for="usergroup_id_group">Id group</label><br/>
<%= text_field 'usergroup', 'id_group'  %></p>
<!--[eoform:usergroup]-->

